@font-face {
    font-family: 'KumbhSans';
    src: url(https://fonts.google.com/specimen/Kumbh+Sans)
}

body {
    width: 1440px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    color: hsl(238, 29%, 16%);
    font-family: 'KumbhSans';
    font-size: 12px;
}

svg {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
     transition-duration: 0.5s;
}

#main_container {
    position: relative;
}

#faq_accordion_container {
    padding: 0px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    background-color: white;
    box-shadow: 0px 10px 50px black;
    position: relative;
    overflow: hidden;
    padding-right: 70px;
}

#img_div {
    width: 350px;
    flex-grow: 1;
    padding-right: 50px;
    position: relative;
}

#content_div {
    width: 350px;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.attribution {
    width: 100%;
}

#desktop_bg {
    position: absolute;
    top: -370px;
    left: -583px;
    z-index: 1;
}

#desktop_img {
    position: relative;
    left: -80px;
    z-index: 2;
}

#desktop_box {
    position: absolute;
    top: 185px;
    left: -92px;
    z-index: 3;
}

#faq_text {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    border-bottom: solid 1px hsl(240, 5%, 91%);
    margin: 10px;
    align-items: center;
    justify-content: space-between;
}

p {
    margin: 10px;
    font-weight: 400;
}
h2 {
    margin: 10px;
    margin-bottom: 0px;
    font-weight: 700;
}

.show:hover {
    cursor: pointer;
}

#faq_header {
    display: flex;
    width: 90%;
    margin: 10px;
    align-items: center;
    justify-content: space-between;
    border: none;
}